<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crunchbase Data Analysis</title>
    <!DOCTYPE html>
    <meta charset="utf-8">
    <!-- <script> src="https://unpkg.com/chartjs-chart-geo@3.10.0/build/index.umd.min.js"</script> -->
	<%- include("header")%>
</head>
<body class="bg-dark">

  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col">
        <div class="header">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Crunchbase Analyzer</h1>
                    <p>Trazemos análises e visualizações das listas da Crunchbase para auxiliar você na tomada de decisão.</p>
                </div>
            </div>
        </div>
        <div class="container box">
            <div class="row">
                <div class="col-sm-4 box1 text-center">
                    <i class="fas fa-chart-line fa-3x"></i>
                    <h5 class="mt-2">
                        Analises de informações públicas das listas da crunchbase, para tomar melhores decisões de investimento.
                    </h5>
                </div>
                <div class="col-sm-4 box2 text-center">
                    <i class="fas fa-users fa-3x"></i>
                    <h5 class="mt-2">
                        Informação sobre diversos setores, análise de concorrentes e oportunidades em mercados novos.
                    </h5>
                </div>
                <div class="col-sm-4 box1 text-center">
                    <i class="far fa-lightbulb fa-3x"></i>
                    <h5 class="mt-2">Insights para empreendedores, investidores e curiosos.</h5>
                </div>
            </div>
        </div>
        <div class="container mt-5 text-center">
            <h4 class="pb-4">Análises das Listas</h4>
            <div class="row justify-content-around">
                

                
                
                    <button type="button" class="btn btn-secondary mt-2 btn-d"><a href="/#">Leading EdTech</a></button>
                    <button type="button" class="btn btn-success mt-2 btn-c"><a href="/#">Hot Tech Companies Globally</a></button>
                
                    <button type="button" class="btn btn-secondary mt-2 btn-d"><a href="/#">Private Unicorn List</a></button>
                
            </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>