<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crunchbase Data Analysis</title>
    <!DOCTYPE html>
    <meta charset="utf-8">
    <!-- <script> src="https://unpkg.com/chartjs-chart-geo@3.10.0/build/index.umd.min.js"</script> -->
	<%- include("header")%>
</head>
<body class="bg-dark">

  <div class="container-fluid">
    <div class="row flex-nowrap">
      <%- include("sidebar")%>
      <div class="col py-3">
        <%- include("charts")%>
      </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="public/chart_main.js">   
    </script>
</body>
</html>