<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crunchbase Data Analysis</title>
    <!DOCTYPE html>
    <meta charset="utf-8">
    <!-- <script> src="https://unpkg.com/chartjs-chart-geo@3.10.0/build/index.umd.min.js"</script> -->
	<%- include("header")%>
</head>
<body class="bg-dark">

  <div class="container-fluid">
    <div class="navbar" style="height: 50px; background-color: aliceblue;" ></div>
    <div class="row flex-nowrap">
      <%- include("sidebar")%>
      <div class="col py-3">
        <%- include("charts")%>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="public/chart_main.js"></script>   
    <script src="public/carousel.js"></script>
</body>
</html>