<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crunchbase Data Analysis</title>
    <!DOCTYPE html>
    <meta charset="utf-8">
    <!-- <script> src="https://unpkg.com/chartjs-chart-geo@3.10.0/build/index.umd.min.js"</script> -->
    <link href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
</head>
<body>
    <div id="data-geo" data-test=<%= comperc %>></div>
    <div>
        <h2>Crunchbase List Analysis</h2>
    </div>
    <div>
        <canvas id="canvas"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="chart"></canvas>
    </div>

    <table id="table" data-toggle="table" data-flat="true" data-search="true" >
        <thead>
          <tr>
              <th data-field="" data-sortable="true">Company</th>
              <th data-field="" data-sortable="true">Liefertermin</th>
              <th data-field="" data-sortable="true">Fertigstellungstermin</th>
              <th data-field="" data-sortable="true">Keyline Nr</th>
          </tr>
        </thead>
        <tbody>
          <% var count = 0; %>
          <% comp_cat.forEach((company)=>{  %>
              <tr data-index="<%= count %>">
                  <td><%= company.comp_name %></td>
              </tr>
              <% count +=1; %>
          <% }) %>
        </tbody>
      </table>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="public/chart_main.js">   
    </script>
</body>
</html>