
      <div class="col-auto pe-5 sidebar" style="background-color: rgb(28 32 37);">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-3 text-white min-vh-100">
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <div class="fs-5 d-none d-sm-inline mt-3">
                    <h5>Crunchbase</h5>
                    <h5>List Analyzer</h5>
                </div>
              </a>
              <div style="font-size: 1.1rem;">
                <div><a href="#locations" class="nav-link"><i class="fas fa-globe-americas fa-fw py-2"></i> By Country</div></a>
                <div><a href="#" class="nav-link"><i class="fas fa-medal fa-fw py-2" ></i> Ranking</div></a>
                <div><a href="#categories" class="nav-link"><i class="fas fa-table fa-fw py-2" ></i> Categories</div></a>
                <div><a href="#" class="nav-link"><i class="fas fa-chart-line fa-fw py-2" ></i> Analysis</div></a>
              </div>
              <hr>
          </div>
      </div>
