@font-face {
    font-family: alex;
    src: url(Alexandria-Light.ttf);
}

@font-face {
    font-family: alex2;
    src: url(Alexandria-ExtraLight.ttf);
}

h5 {
    font-family: alex2;
}

.categories_txt {
    font-size: 13px;
}

.padding-1{
    padding: 1em;
}

.chart-container {
    height: 52.5vh;
}

li > a {
    font-family: alex2;
}

body{
    color: white;
    font-family: alex;
    font-weight: 300;
}

.title{
    padding-left: 0.5rem;
    font-size: 30px;
    word-spacing: 5px;
    font-family: alex2;
    font-weight: 100;
}

.block{
    display: block;
}

.fa-2x{
    font-size: 1.5em;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    position: fixed;
}

@media (max-width: 600px)
{
    .content{
        margin-left: 3em;
    }
}
@media (min-width: 601px) and (max-width:1200px)
{
    .content{
        margin-left: 8em;
    }
}
@media (min-width: 1201px) 
{
    .content{
        margin-left: 14em;
    }
}

.color-white{
    color: white;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: rgb(210, 210, 210);
}

h1{
    font-size: 2.2em;
}

canvas{
    padding: 2em;
}

.my_border{
    border: 2px solid #80808024;
    border-radius: 10px;
    -webkit-transition: border 300ms linear;
    -ms-transition: border 300ms linear;
    transition: border 300ms linear;
}

.my_border:hover{
    border: 2px solid #1ff792e1;
    border-radius: 10px;
    -webkit-transition: border 1000ms linear;
    -ms-transition: border 1000ms linear;
    transition: border 1000ms linear;
}

@media screen and (min-width: 576px) 
{
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
}

.mt-6{
    margin-top: 6em;
}

.carousel-control-prev, .carousel-control-next{
    width: 6vh;
    height: 6vh;
    background-color: #ffffff16;
    border-radius: 50px;
    top: 50%;
    transform: translateY(-50%);
}


.carousel-item{
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 1rem;
}

/* .carousel-item:hover{

} */


.active{
    transform: none !important;
}

.table_w{
    width: 200px;
}

.top-card{
    padding: 0.5em;
}

.p-2{
    padding: 1em !important;
}

.v-align{
    vertical-align: text-bottom;
}

.header{
    padding: 17em 10em 17em 10em;
    background-image: url('../public/img/chart.jpg');
    background-size: cover;
    position: relative;
}

.box{
    position: relative;
    margin-top: -60px;
}

.box1{
    background-color: #1ff792e1;
    padding: 4em;
}

.box2{
    background-color: #22262a;
    padding: 4em;
}

.p-6{
    padding: 6em;
}

.btn-c{
    font-size: 1.2em;
    width: 30%;
    background-color: #1ff792e1;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
}