.padding-1{
    padding: 1em;
}
canvas {
    border: 1px dotted red;
}
.chart-container {
    height: 65vh;
}

body{
    color: white;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
}

.block{
    display: block;
}

.fa-2x{
    font-size: 1.5em;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    position: fixed;
}

@media (max-width: 600px)
{
    .content{
        margin-left: 3em;
    }
}
@media (min-width: 601px) and (max-width:1200px)
{
    .content{
        margin-left: 8em;
    }
}
@media (min-width: 1201px) 
{
    .content{
        margin-left: 19em;
    }
}

.color-white{
    color: white;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: rgb(210, 210, 210);
}

.title{
    background-color: #ffffff0d;
    border-radius: 10px;
    padding: 3px;
}

canvas{
    border: 2px solid #80808024;
    padding: 2em;
    border-radius: 10px;
}

@media screen and (min-width: 576px) 
{
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
}

.mt-6{
    margin-top: 6em;
}

.carousel-control-prev, .carousel-control-next{
    width: 6vh;
    height: 6vh;
    background-color: #ffffff16;
    border-radius: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-item{
    padding: 50px;
}

.active{
    transform: none !important;
}